body {
  background-color: rgba(68, 0, 255, 0.5);
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0 40%;
  font-size: 80px;
  color: white;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
main {
  padding: 0;
  margin-left: 30%;
  margin-right: 700px;

  background-color: white;
  border-radius: 10px 50px;
  max-height: 100%;
}
input {
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
}
button {
  width: 100px;
  height: 30px;
  margin: 10px;
}
.operacao {
  margin: 50px;
  padding: 50 px;
  max-width: 50;
}
.botao button {
  margin: 10px;
  padding: 10px;
}
.resultado {
  margin: -10px 100px;
}
